In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
# datafram with string values
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
#dataframe with index names / row labels
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:
# creating series / list of values
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# series with index / row names
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [10]:
# reading data from csv file. 
diet_data = pd.read_csv("C:/OMSA GATech/HW2/data 3.1/credit_card_data-headers.txt", sep='\t', lineterminator='\r')

In [11]:
diet_data.head()

    A1     A2     A3    A8   A9  A10  A11  A12    A14    A15   R1
0  \n1  30.83  0.000  1.25  1.0  0.0  1.0  1.0  202.0    0.0  1.0
1  \n0  58.67  4.460  3.04  1.0  0.0  6.0  1.0   43.0  560.0  1.0
2  \n0  24.50  0.500  1.50  1.0  1.0  0.0  1.0  280.0  824.0  1.0
3  \n1  27.83  1.540  3.75  1.0  0.0  5.0  0.0  100.0    3.0  1.0
4  \n1  20.17  5.625  1.71  1.0  1.0  0.0  1.0  120.0    0.0  1.0

In [13]:
diet_data.shape

(655, 11)